# Data Structure

### Strings
Strings can be defined as sequential collections of characters. This means that the individual characters that make up a string are in a particular order from left to right.

A string that contains no characters, often referred to as the empty string, is still considered to be a string. It is simply a sequence of zero characters and is represented by ‘’ or “” (two single or two double quotes with nothing in between).

In [1]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2 # For strings, + means “concatenate”
print(bob)

Hellothere

In [2]:
str3 = '123'
str3 = str3 + 1
str3

TypeError: can only concatenate str (not "int") to str

In [3]:
x = int(str3) + 1
print(x)

124

We can get at any single character in a string using an index specified in square brackets

In [4]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [5]:
zot = 'abc'
print(zot[5])

IndexError: string index out of range

In [6]:
fruit = 'banana'
print(len(fruit))

6

In [7]:
fruit = 'banana'
for letter in fruit: 
    print(letter)

b
a
n
a
n
a

### Slicing Strings

In [8]:
s = 'Monty Python'
print(s[0:4])

Mont

In [9]:
print(s[6:7])

P

In [10]:
print(s[6:20])

Python

In [11]:
s = 'Monty Python'
print(s[:2])
print(s[8:])
print(s[:])

Mo
thon
Monty Python

In [12]:
fruit = 'banana'
'n' in fruit

True

In [13]:
'm' in fruit

False

In [14]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)
www = greet.lower()
print(www)

HELLO BOB
hello bob

In [15]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print(nstr)

Hello Jane

### Lists
A list is a sequential collection of Python data values, where each value is identified by an index. The values that make up a list are called its elements. Lists are similar to strings, which are ordered collections of characters, except that the elements of a list can have any type and for any one list, the items can be of different types.

There are several ways to create a new list. The simplest is to enclose the elements in square brackets ( [ and ]).

[10, 20, 30, 40] ["spam", "bungee", "swallow"] The first example is a list of four integers. The second is a list of three strings. As we said above, the elements of a list don’t have to be the same type. The following list contains a string, a float, an integer, and another list.

["hello", 2.0, 5, [10, 20]] Note

In [16]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
carryon = [ 'socks', 'shirt', 'perfume' ]
print(friends)
print(carryon)

['Joseph', 'Glenn', 'Sally']
['socks', 'shirt', 'perfume']

In [17]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [18]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

### Lists are Mutable
* Strings are “immutable” - we cannot change the contents of a string - we must make a new string to make any change
* Lists are “mutable” - we can change an element of a list using the index operator

In [20]:
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [21]:
x = fruit.lower()
print(x)

banana

In [22]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [23]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

In [24]:
x = [ 1, 2, 'joe', 99]
print(len(x))

4

In [27]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [28]:
t[:4]

[9, 41, 12, 3]

In [29]:
t[3:]

[3, 74, 15]

In [30]:
t[:]

[9, 41, 12, 3, 74, 15]

### Building a List from Scratch.
* We can create an empty list and then add elements using the append method
* The list stays in order and new elements are added at the end of the list

In [31]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [32]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

### Lists are in Order

In [33]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

### Built-in Functions and Lists

In [34]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [35]:
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']

### Dictionaries
Dictionaries are Python’s most powerful data collection.

Dictionaries allow us to do fast database-like operations in Python.

Dictionaries have different names in different languages

In [36]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [37]:
print(purse['candy'])

3

In [38]:
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 5, 'tissues': 75}

### Dictionary Tracebacks
* It is an error to reference a key which is not in the dictionary
* We can use the in operator to see if a key is in the dictionary

In [39]:
ccc = dict()
print(ccc['csev'])

KeyError: 'csev'

In [40]:
'csev' in ccc

False

In [41]:
ccc = dict()
ccc['csev'] = 5
'csev' in ccc

True

In [42]:

ccc

{'csev': 5}

In [ ]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    if name not in counts:
        counts[name] = 1
    else :
        counts[name] = counts[name] + 1
        
print(counts)

# Findout the frequency of each word

In [7]:
count= dict()
story = "A man who was the lone survivor of a terrible shipwreck was washed ashore on a tiny uninhabited island. Marooned and alone, the man cried out to God to rescue him from his terrible fate. Unfamiliar with survival tactics, the man struggled to endure. Eventually, he was able to construct a hut to protect him and his few possessions. Every day the man faithfully scanned the horizon for the answer to his prayer. One day, after scavenging for food, he arrived home and found his little hut burning to the ground. There was nothing left but ashes and smoke. “God, how could you do this to me, He cried. Broken and despaired he sobbed himself to sleep."
words = story.split()
for name in words:
    if name not in count :
        count[name]=1
    else:
        count[name]=count[name]+1
print(count)

{'A': 1, 'man': 4, 'who': 1, 'was': 4, 'the': 7, 'lone': 1, 'survivor': 1, 'of': 1, 'a': 3, 'terrible': 2, 'shipwreck': 1, 'washed': 1, 'ashore': 1, 'on': 1, 'tiny': 1, 'uninhabited': 1, 'island.': 1, 'Marooned': 1, 'and': 5, 'alone,': 1, 'cried': 1, 'out': 1, 'to': 9, 'God': 1, 'rescue': 1, 'him': 2, 'from': 1, 'his': 4, 'fate.': 1, 'Unfamiliar': 1, 'with': 1, 'survival': 1, 'tactics,': 1, 'struggled': 1, 'endure.': 1, 'Eventually,': 1, 'he': 3, 'able': 1, 'construct': 1, 'hut': 2, 'protect': 1, 'few': 1, 'possessions.': 1, 'Every': 1, 'day': 1, 'faithfully': 1, 'scanned': 1, 'horizon': 1, 'for': 2, 'answer': 1, 'prayer.': 1, 'One': 1, 'day,': 1, 'after': 1, 'scavenging': 1, 'food,': 1, 'arrived': 1, 'home': 1, 'found': 1, 'little': 1, 'burning': 1, 'ground.': 1, 'There': 1, 'nothing': 1, 'left': 1, 'but': 1, 'ashes': 1, 'smoke.': 1, '“God,': 1, 'how': 1, 'could': 1, 'you': 1, 'do': 1, 'this': 1, 'me,': 1, 'He': 1, 'cried.': 1, 'Broken': 1, 'despaired': 1, 'sobbed': 1, 'himself': 1, 'sleep.': 1}

In [43]:
jjj = { 'dipesh' : 1 , 'fred' : 42, 'jan': 100}
print(list(jjj))
print(jjj.keys())
print(jjj.values())
print(jjj.items())

['dipesh', 'fred', 'jan']
dict_keys(['dipesh', 'fred', 'jan'])
dict_values([1, 42, 100])
dict_items([('dipesh', 1), ('fred', 42), ('jan', 100)])

## Tuples Are Like Lists
Tuples are another kind of sequence that functions much like a list - they have elements which are indexed starting at 0

In [44]:
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])
y = ( 1, 9, 2 )
print(y)
print(max(y))

Joseph
(1, 9, 2)
9

## but... Tuples are “immutable”
Unlike a list, once you create a tuple, you cannot alter its contents - similar to a string

In [45]:
# tuple is immutable
z = (5, 4, 3)
print(z)
z[2] = 0

(5, 4, 3)

TypeError: 'tuple' object does not support item assignment

In [46]:
x = (3, 2, 1)
x.reverse()
x

AttributeError: 'tuple' object has no attribute 'reverse'

In [47]:
x.append(5)

AttributeError: 'tuple' object has no attribute 'append'

## Tuples and Assignment
We can also put a tuple on the left-hand side of an assignment statement
We can even omit the parentheses

In [48]:
(x, y) = (10, 52)

In [49]:
x

10

## Tuples and Dictionaries
The items() method in dictionaries returns a list of (key, value) tuples

In [50]:
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items(): 
     print(v, k)

2 csev
4 cwen

## Using sorted()
We can do this even more directly using the built-in function sorted that takes a sequence as a parameter and returns a sorted sequence

In [51]:
d = {'a':10, 'b':1, 'c':22}
t = sorted(d.items())
print(t)
for k, v in sorted(d.items()):
    print(k, v)

[('a', 10), ('b', 1), ('c', 22)]
a 10
b 1
c 22