# Problem Statements

## List & String

## Question 1
Write a program that extracts the last three items in the list sports and assigns it to the variable last. Make sure to write your code so that it works no matter how many items are in the list.

In [ ]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
#print(len(sports))
last = sports[6:9]
print(last)

## Question 2
Write one for loop to print out each character of the string my_str on a separate line.

In [ ]:
my_str = "MICHIGAN"
for i in my_str:

# Write your code here
    print(i)

## Question 3
Write one for loop to print out each element of the list several_things. Then, write another for loop to print out the TYPE of each element of the list several_things. To complete this problem you should have written two different for loops, each of which iterates over the list several_things, but each of those 2 for loops should have a different result.

In [ ]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]
# Write your code here
for i in several_things:
    print(i)
for typ in several_things:
    # Write your code here
    print(type(i))

## Question 4
Write code that uses iteration to print out the length of each element of the list stored in str_list.

In [29]:
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]

for leng in str_list:
    print(len(leng))

5
0
7
9
13

In [ ]:
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]

for l in str_list:
    print(len(l))

## Question 6
addition_str is a string with a list of numbers separated by the + sign. Write code that uses the accumulation pattern to take the sum of all of the numbers and assigns it to sum_val (an integer). (You should use the .split("+") function to split by "+" and int() to cast to an integer).

In [ ]:
addition_str = "2+5+10+20"
number = # Write your code here.
sum_val = 0
for num in number:
    # Write your code here. 
    
print(sum_val)

In [ ]:
addition_str = "2+5+10+20"
number = addition_str.split("+")
sum_val = 0
for num in number:
    # Write your code here. 
    sum_val+=int(num)
    
print(sum_val)

In [ ]:
addition_str = "2+5+10+20"
v=addition_str.split("+")
v

## Dictionary

## Question 1
At the halfway point during the Rio Olympics, the United States had 70 medals, Great Britain had 38 medals, China had 45 medals, Russia had 30 medals, and Germany had 17 medals. Create a dictionary assigned to the variable medal_count with the country names as the keys and the number of medals the country had as each key’s value.

In [ ]:
medal_count = # Write your code here.

## Question 2
Given the dictionary swimmers, add an additional key-value pair to the dictionary with "Phelps" as the key and the integer 23 as the value. Do not rewrite the entire dictionary.

In [ ]:
swimmers = {'Manuel':4, 'Lochte':12, 'Adrian':7, 'Ledecky':5, 'Dirado':4}
# Write your code here.
swimmers["Phelps"]=23
print(swimmers)

## Question 3
Add the string “hockey” as a key to the dictionary sports_periods and assign it the value of 3. Do not rewrite the entire dictionary.

In [ ]:
sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}
# Write your code here.

In [ ]:
sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}
sports_periods["hockey"]=3
print(sports_periods)

## Question 4
The dictionary golds contains information about how many gold medals each country won in the 2016 Olympics. But today, Spain won 2 more gold medals. Update golds to reflect this information.

In [ ]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}
# Write your code here.
golds['Spain']= golds["Spain"]+2
print(golds)

## Question 5
Provided is a dictionary called US_medals which has the first 70 metals that the United States has won in 2016, and in which category they have won it in. Using dictionary mechanics, assign the value of the key "Fencing" to a variable fencing_value. Remember, do not hard code this.

In [ ]:
US_medals = {"Swimming": 33, "Gymnastics": 6, "Track & Field": 6, "Tennis": 3, "Judo": 2, "Rowing": 2, "Shooting": 3, "Cycling - Road": 1, "Fencing": 4, "Diving": 2, "Archery": 2, "Cycling - Track": 1, "Equestrian": 2, "Golf": 1, "Weightlifting": 1}
# Write your code here.
print(US_medals["Fencing"])

## Question 6
The dictionary Junior shows a schedule for a junior year semester. The key is the course name and the value is the number of credits. Find the total number of credits taken this semester and assign it to the variable credits. Do not hardcode this – use dictionary accumulation!

In [ ]:
Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}
credits = 0

# Write your code here.
for i in Junior.keys():
    credits+=Junior[i]
    
print(credits)

## Question 7
Create a dictionary, freq, that displays each character in string str1 as the key and its frequency as the value.

In [ ]:
str1 = "peter piper picked a peck of pickled peppers"
freq = {}

for k in str1:
    # Write your code here.

In [ ]:
str1 = "peter piper picked a peck of pickled peppers"
freq = {}

for k in str1:
    # Write your code here.
    if k not in freq:
        freq[k]=0
    freq[k]=freq[k]+1
    
freq

## Question 8
Create a dictionary, freq_words, that contains each word in string str1 as the key and its frequency as the value.

In [ ]:
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"
str1 = str1.split()

freq_words = {}

for k in str1:
    # Write your code here.

In [ ]:
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"
str1 = str1.split()

freq_words = {}

for k in str1:
    # Write your code here.
    if k not in freq_words:
        freq_words[k]= 0
    freq_words[k]=freq_words[k]+1
       
freq_words

## Tuple

## Question 1
The list below, tuples_lst, is a list of tuples. Create a list of the second elements of each tuple and assign this list to the variable country.

In [ ]:
tuples_lst = [('Beijing', 'China', 2008), ('London', 'England', 2012), ('Rio', 'Brazil', 2016, 'Current'), ('Tokyo', 'Japan', 2020, 'Future')]
country = []
# Write your code here.
print(country)

In [ ]:
tuples_lst = [('Beijing', 'China', 2008), ('London', 'England', 2012), ('Rio', 'Brazil', 2016, 'Current'), ('Tokyo', 'Japan', 2020, 'Future')]
country = []
# Write your code here.
for i in tuples_lst :
        country.append(i[1])
print(country)

## Question 2
With only one line of code, assign the variables city, country, and year to the values of the tuple olymp.

In [ ]:
olymp = ('Rio', 'Brazil', 2016)
# Write your code here.

In [ ]:
olymp = ('Rio', 'Brazil', 2016)
# Write your code here.
olymp.add("city","country","year")="Rio","Brazil",2016
print(olypm)

## Question 3
Given is the dictionary, gold, which shows the country and the number of gold medals they have earned so far in the 2016 Olympics. Create a list, num_medals, that contains only the number of medals for each country. You must use the .items() method. Note: The .items() method provides a list of tuples. Do not use .keys() method.

In [ ]:
gold = {'USA':31, 'Great Britain':19, 'China':19, 'Germany':13, 'Russia':12, 'Japan':10, 'France':8, 'Italy':8}
num_medals = []
# Write your code here.

In [ ]:
gold = {'USA':31, 'Great Britain':19, 'China':19, 'Germany':13, 'Russia':12, 'Japan':10, 'France':8, 'Italy':8}
num_medals = [gold.values()]
# Write your code here.
print(num_medals)

# Functions

## Question 1
Flesh out the body of the print_seconds function so that it prints the total amount of seconds given the hours, minutes, and seconds function parameters. Remember that there are 3600 seconds in an hour and 60 seconds in a minute.

In [ ]:
def print_seconds(hours, minutes, seconds):
    # write your code here.
    print(___)

print_seconds(1,2,3)

In [ ]:
def print_seconds(hours, minutes, seconds):
    # write your code here.
    seconds=3600*hours+60*minutes+ seconds
    print(seconds)

print_seconds(1,2,3)

## Question 2
Use the get_seconds function to work out the amount of seconds in 2 hours and 30 minutes, then add this number to the amount of seconds in 45 minutes and 15 seconds. Then print the result.

In [ ]:
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(___)
amount_b = get_seconds(___)
result = ___
print(result)

In [ ]:
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(2,30,0)
amount_b = get_seconds(0,45,15)
result = amount_a+amount_b
print(result)

## Question 3
In this code, identify the repeated pattern and replace it with a function called month_days, that receives the name of the month and the number of days in that month as parameters. Adapt the rest of the code so that the result is the same. Confirm your results by making a function call with the correct parameters for both months listed.

In [ ]:
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
june_days = 30
print("June has " + str(june_days) + " days.")
july_days = 31
print("July has " + str(july_days) + " days.")

In [16]:
def month_days(month_name,month_days):
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
    print(str(month_name)+" has "+str(month_days))
    
month_days("August",31)

August has 31

## Question 4
This function to calculate the area of a rectangle is not very readable. Can you refactor it, and then call the function to calculate the area with base of 5 and height of 6?
Tip: a function that calculates the area of a rectangle should probably be called rectangle_area, and if it's receiving base and height, that's what the parameters should be called.

In [17]:
def f1(x, y):
    z = x*y  # the area is base*height
    print("The area is " + str(z))

In [19]:
def rectangle_area(base,height):
    area=base*height
    print("Area of the rectangle is "+ str(area))
    
rectangle_area(5,6)

Area of the rectangle is 30

## Question 5
This function converts miles to kilometers (km).

Complete the function to return the result of the conversion
Call the function to convert the trip distance from miles to kilometers
Fill in the blank to print the result of the conversion
Calculate the round-trip in kilometers by doubling the result, and fill in the blank to print the re

In [ ]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = ___

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + ___)

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + ___)

In [6]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile
    return km
my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

## Question 6
This function compares two numbers and returns them in increasing order.

Fill in the blanks, so the print statement displays the result of the function call in order.
Hint: if a function returns multiple values, don't forget to store these values in multiple variables

In [ ]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
___, ___ = order_numbers(100, 99)
print(smaller, bigger)

In [ ]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller,bigger)

In [9]:
inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]
for coll in inventory:
    coll=coll.split(',')
    print("The store has {} {}, each for {} USD".format(coll[1],coll[0],coll[2]))

The store has  12 shoes, each for  29.99 USD
The store has  20 shirts, each for  9.99 USD
The store has  25 sweatpants, each for  15.00 USD
The store has  13 scarves, each for  7.75 USD

In [ ]:
shoes, 12, 29.99
shirts, 20, 9.99
sweatpants, 25, 15.00
scarves, 13, 7.75

In [ ]:
shoes, 12, 29.99
shirts, 20, 9.99
sweatpants, 25, 15.00
scarves, 13, 7.75

## Below are a set of scores that students have received in the past semester. Write code to determine how many are 90 or above and assign that result to the value a_scores.

In [26]:
scores = "67 80 90 78 93 20 79 89 96 97 92 88 79 68 58 90 98 100 79 74 83 88 80 86 85 70 90 100"
scores1=scores.split(" ")
#print(scores1)
lst=[int(i) for i in scores1]
#print(lst)
a_scores= []
for k in lst:
    if k>=90:
        a_scores.append(k)
        a_scores.sort()
print(a_scores)

[90, 90, 90, 92, 93, 96, 97, 98, 100, 100]

In [28]:
scores = "67 80 90 78 93 20 79 89 96 97 92 88 79 68 58 90 98 100 79 74 83 88 80 86 85 70 90 100" 
scores1=scores.split()
lst=[int(i) for i in scores1]
a_scores=[]
for k in lst:
    if k>=90:
        a_scores.append(k)
        a_scores.sort()
print(a_scores)

[90, 90, 90, 92, 93, 96, 97, 98, 100, 100]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt